name: CI
on:
  push:
    branches:
      - main
  pull_request:

env:
  NX_CLOUD_DISTRIBUTED_EXECUTION: true

jobs:
  main:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'pull_request' }}
    steps:
      - uses: actions/checkout@v3
        name: Checkout [main]
        with:
          fetch-depth: 0

      - name: Set outputs
        id: vars
        run: echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV

      - name: Check outputs
        run: echo ${SHORT_SHA}

      - id: 'auth'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: ${{ secrets.SERVICE_ACCOUNT_KEY }}
          export_environment_variables: true
          create_credentials_file: true
      - uses: actions/upload-artifact@v3
        with:
          name: gcloud-cred
          path: ${{ env.GOOGLE_GHA_CREDS_PATH }}

      # - id: 'gcloud'
      #   name: 'gcloud'
      #   run: gcloud secrets versions access "latest" --secret "my-secret"

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v2
      - uses: actions/setup-node@v1 
        with: 
          node-version: '16.14'
      
      - name: download shit
        uses: actions/download-artifact@v3
        with:
          name: gcloud-cred
          path: ./
      - run: ls -la
      
      # - run: yarn install
      # - run: npx nx-cloud start-ci-run    
      # # # - run: npx nx affected --target=test --parallel --max-parallel=2
      # - run: npx nx run-many --target=build --all --parallel --max-parallel=3
      # - uses: actions/upload-artifact@v3
      #   with:
      #     name: api-dist
      #     path: dist/apps/api/
      - run: GOOGLE_GHA_CREDS_PATH=${{ env.GOOGLE_GHA_CREDS_PATH }} && npx nx run api:deploy-test --skip-nx-cache
      # # - run: |-
      # #     docker build --no-cache --platform=linux/amd64 -t monorepo-api-image -f build/api/Dockerfile .
      # #     gcloud auth configure-docker --quiet
      # #     gcloud auth configure-docker us-central1-docker.pkg.dev --quiet
      # #     docker tag monorepo-api-image us-central1-docker.pkg.dev/monorepo-ex/monorepo-ex-api/monorepo-api-image:latest
      # #     docker push us-central1-docker.pkg.dev/monorepo-ex/monorepo-ex-api/monorepo-api-image:latest
      # - uses: actions/download-artifact@v3
      #   with:
      #     name: api-dist
      #     path: dist/apps/api/
      # - run: npx nx-cloud stop-all-agents
  pr:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0
      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v2
      - uses: actions/setup-node@v1
        with: 
          node-version: '16.14'
      - run: npm install
      - run: npx nx-cloud start-ci-run
      - run: npx nx affected --target=build --parallel --max-parallel=3
      - run: npx nx affected --target=test --parallel --max-parallel=2
      - run: npx nx-cloud stop-all-agents
  agents:
    runs-on: ubuntu-latest
    name: Agent 1
    timeout-minutes: 60
    strategy:
      matrix:
        agent: [ 1, 2, 3 ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with: 
          node-version: '16.14'
      - run: npm install
      - name: Start Nx Agent ${{ matrix.agent }}
        run: npx nx-cloud start-agent  